.high-scores {
    width: 15%;
    float: left;
    background-color: white;
    height: 100vh;  
    
}

.userScores {
    margin-left: 30px;
}

.storedScore {
    float: right;
}

h1,
h2 {
    margin-left: 30px;
}



.row {
    margin-bottom: 30px;
}

#startGame{
    margin-top: 25px;
    margin-left: 130px;
}

.quiz-cards {
    width: 25%;
    float: left;
    background-color: black;
    height: 100vh;
    
}

.sanctuaryMap {
    width: 60%;
    float: left;
    background-image: url(../Saint-Seiya-Quiz/pictures/12-casas.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;  
    
}

.time {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left:300px
}

#tryAgain {
    display: none;
    
}

.card {
    position: absolute;
    margin-top: 95px;
    margin-left: 40px;
    display: none;
}

.alert-success,
.alert-danger {
    display: none;
}

.card-img-top{
    height: 250px;
    width: auto;
}

.btn-secondary {
    margin-bottom: 10px;
}